/* Add a black background color to the top navigation */
body {

}
.header{
  padding: 10px;
}
p{
  margin:0px;
}

.nav-item{
  margin-left:  5px;
  margin-right: 5px;

}
.nav-link{
  color: #1f1f14;

}


.esemeny_heading{
  font-family: 'Sacramento', cursive;
  font-size: 2rem;

  margin-top: 10px;
}

.rsvpSection{
  margin-top: 10vh;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  background-color: yellow;
}
.eventsSection{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}
.headingSection{
  height: 10vh;

}
.homeSection{
  height: 90vh;
  background-position: center center;
  background-image:url("../images/img_1.jpg") ;
  background-size: cover;
  background-attachment: fixed;
  opacity: 80%;
  padding: 0;
}
.title{
    position: relative;
    top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    opacity:100%;
}
.heading_Title{
  font-size: 3rem;

}
.utvonal{


}
.helyszin{
  margin-bottom: 0px;
}
