/* Add a black background color to the top navigation */
p{
  margin: 0;
}
/* .header{
  padding: 10px;
}

.nav-item{
  margin-left:  5px;
  margin-right: 5px;

}
.nav-link{
  color: #1f1f14;

} */



/*esemeny resz*/
.esemeny_heading{
  font-family: 'Sacramento', cursive;
  font-size: 2rem;

  margin-top: 10px;
}
.esemenyek{
  padding-bottom: 20px;
}

.eventsSection{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  color:  #655F45;
}
.headingSection{
  height: 10vh;

}
/*#############################x*/

/*Kezdőképx*/
.homeSection{
  height: 90vh;
  background-position: center center;
  background-image:url("../images/img_1.jpg") ;
  background-size: cover;
  background-attachment: fixed;
  opacity: 80%;
  padding: 0;
}
.title{
    position: relative;
    top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    opacity:100%;
}
.heading_Title{
  font-size: 3rem;

}
/*#############################x*/

/*mikor hol*/
.rsvpSection{
  margin-top: 10vh;
  padding: 20px 15% 20px 15%;
  background-color: #CCD2E0;

}

.helyszin{
  margin-bottom: 0;
}

.mapIcon{
  font-size: 3em;
}
/*#############################x*/

/*Visszajelzés*/
.transparentInputBox{
  opacity: 20%;
  border: 0.5px solid #c0c0c0 ;
}

a.linktoMaps:link,
a.linktoMaps:visited,
a.linktoMaps:hover,
a.linktoMaps:active {
  color: #54647A;

}

 @supports ( -webkit-overflow-scrolling: touch) {
  .homeSection{
    background-image: url("../images/img_2.jpg") ;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
