/* Add a black background color to the top navigation */
html,body{
  min-width:350px;
  width: 100%;
}
p {
  margin: 0;
}

/* .header{
  padding: 10px;
}

.nav-item{
  margin-left:  5px;
  margin-right: 5px;

}
.nav-link{
  color: #1f1f14;

} */
/*Kezdőképx*/
.homeSection {
  position: relative;
  height: 90vh;
  background-position: center center;
  background-image: url("../images/img_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 80%;
  padding: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.title {
  position: absolute;
  width: 100%;
  top: 10%;

  opacity: 100%;
  text-shadow: 1px 1px black;
  font-size: 3rem;
}

.heading_Time {
  width: 100%;
  position: absolute;
  bottom: 10%;

}

/*#############################x*/
/*esemeny resz*/
.esemeny_heading {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  margin-top: 10px;
}

.esemenyek {
  padding-bottom: 20px;
}

.eventsSection {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
  color: #655F45;
}

.headingSection {
  height: 10vh;
}

/*#############################x*/
/*mikor hol*/
.rsvpSection {
  margin-top: 10vh;
  padding: 20px 15% 20px 15%;
  background-color: #CCD2E0;
}

.helyszin {
  margin-bottom: 0;
}

.mapIcon {
  font-size: 3em;
}

/*#############################x*/
/*Visszajelzés*/
.transparentInputBox {
  opacity: 70%;
  border: 0.5px solid #c0c0c0;
}

a.linktoMaps:link,
a.linktoMaps:visited,
a.linktoMaps:hover,
a.linktoMaps:active {
  color: #54647A;
}

@supports (-webkit-overflow-scrolling: touch) {
  .homeSection {
    height: 70vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }

  .heading_Title {
    font-size: 2rem;
  }
}
