<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Adri és Gergő</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ff87b600c3.js" crossorigin="anonymous"></script>
  <script src="/index.js"></script>

</head>



<body>
  <!-- <section class="headingSection">
    <div class="header">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Szertartás</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ünneplés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Visszajelzés</a>
        </li>
      </ul>
    </div>

  </section> -->


  <section class="homeSection">
    <div class="alert alert-success" role="alert" style="visibility:<%= visibility %>; height: <%= height %>;border: 0; padding: 50; margin:0">
      <%= text%>
    </div>
    <h1 class="title">Adri és Gergő </h1>
    <div class="heading_Time">2021. augusztus 28.</div>
  </section>

  <section class="eventsSection">
    <div class="bottom-container text-center">
      <div class="container">
        <h1 class="titleText">Mikor, hol?</h1>
        <div class="row">
          <div class="col-lg esemenyek">
            <div class="esemeny_heading">
              <div class="icon">
                <img src="/images/glasses.svg" alt="">
              </div>
              Érkezés
            </div>
            <div class="esemeny_time">
              2021. augusztus 28. 15:00
            </div>
            <div class="helyszin">
              <p>
                Helyszín:
              </p>
              <p>
                Ludwig Hotel<br> Martonvásár<br>Emlékezés tere 5
              </p>
              <div class="utvonal">
                <span class="mapIcon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <a class="linktoMaps" href="https://www.google.com/maps/dir/Current+Location/47.3158592,18.7850552" target="_blank" class="utvonal">Útvonaltervezés</a>
              </div>
            </div>

          </div>
          <div class="col-lg esemenyek">


            <div class="esemeny_heading">
              <div class="icon">
                <img src="/images/temple.svg" alt="">
              </div>
              Szertartás
            </div>
            <div class="esemeny_time">
              2021. augusztus 28. 16:00
            </div>
            <div class="">
              <p>
                Helyszín:
              </p>
              <p>
                Szent Anna Templom<br>Martonvásár<br><br>
              </p>
              <div class="utvonal">
                <span class="mapIcon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <a class="linktoMaps" href="https://www.google.com/maps/dir/Current+Location/47.3160427,18.785697" target="_blank">Útvonaltervezés</a>
              </div>

            </div>
          </div>
          <div class="col-lg esemenyek">

            <div class="esemeny_heading">
              <div class="icon">
                <img src="/images/dance.svg" alt="">
              </div>
              Lakodalom
            </div>
            <div class="esemeny_time">
              2021. augusztus 28. 18:00
            </div>
            <div class="">
              <p>
                Helyszín:
              </p>
              <p>
                Ludwig Hotel<br> Martonvásár<br>Emlékezés tere 5
              </p>
              <span class="align-text-bottom">
                <div class="utvonal">
                  <span class="mapIcon">
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                  <a <a class="linktoMaps" href="https://www.google.com/maps/dir/Current+Location/47.3158592,18.7850552" target="_blank">Útvonaltervezés</a>
                </div>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>



  <section class="rsvpSection">

    <div class="text-center">
      <div class="rsvp_title">
        <h1 class="titleText">Számítunk rátok!</h1>
      </div>
      <form class="" action="/participant" method="post">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input " type="radio" name="there" id="ottLesz" value="TRUE" required>
            <label class="form-check-label" for="inlineRadio1">Ott leszek</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="there" id="nemLeszOtt" name="there" value="FALSE" required>
            <label class="form-check-label" for="inlineRadio2">Nem tudok részt venni</label>
          </div>
        </div>

        <div class="form-group">
          <label for="nev">Neved</label>
          <input type="text" class="form-control transparentInputBox" id="nev" name="ParticipantName" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="emailAddress" class="form-label">E-mail cím(nem kötelező)</label>
          <input type="email" class="form-control transparentInputBox" id="emailAddress" name="ParticipantEmail" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
          <label for="kiserok">Kisérő és Családtagok nevei</label>
          <textarea class="form-control input-sm transparentInputBox" aria-label="With textarea" name="ParticipantFollowers" id="kiserok"></textarea>
        </div>

        <div class="form-group">
          <div class="mb-3">
            <label for="megjegyzes">Üzenetek és megjegyzések</label>
            <textarea class="form-control transparentInputBox " aria-label="With textarea" rows="5" name="ParticipantNote" id="megjegyzes"></textarea>
          </div>
        </div>
        <button type="submit" name="resztvevoRequest" class="btn btn-outline-secondary">Küldés</button>

      </form>

    </div>
  </section>

  <section class="zenekeresSection">
    <div class="colored text-center">
      <h1 class="zenekeres_Title titleText">Zenekérés</h1>
      <h2 class="zenekeres_comment"></h2>
      <form class="" action="/music" method="post">
        <div class="form-group">
          <div class="mb-3">
            <label for="formGroupExampleInput2">Írd meg kedvenc zeneszámaidat, amikre a lagzinkon szívesen táncolnál! 🙂</label>
            <textarea class="form-control transparentInputBox" aria-label="With textarea" rows="5" name="music"></textarea>
          </div>
        </div>
        <button type="submit" name="zeneRequest" class="btn btn-outline-secondary">Küldés</button>

      </form>


    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>
