/* Add a black background color to the top navigation */
html,body{
  min-width:350px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #59543d;
}
p {
  margin: 0;
}
h1{
  font-family: 'Playfair Display', serif;
}
/*
.headingSection {
  height: 10vh;
}

.header{
  padding: 10px;
}

.nav-item{
  margin-left:  5px;
  margin-right: 5px;

}
.nav-link{
  color: #1f1f14;

} */
/*Kezdőképx*/
.homeSection {
  position: relative;
  height: 90vh;
  background-position: center center;
  background-image: url("../images/img_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 80%;
  padding: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.title {
  position: absolute;
  width: 100%;
  top: 10%;
  font-family: 'Josefin Sans', sans-serif;
  opacity: 100%;
  text-shadow: 1px 1px grey;
  font-size: 3rem;
}

.heading_Time {
  width: 100%;
  position: absolute;
  bottom: 10%;
  font-size: 1.5rem;
  text-shadow: 1px 1px grey;
}

/*#############################x*/
/*esemeny resz*/
.eventsSection {
  padding: 40px 15% 40px 15%;


}

.esemeny_heading {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  margin-top: 10px;
}

.esemenyek {
  padding-bottom: 20px;
}

.helyszin {
  margin-bottom: 0;
}

.mapIcon {
  font-size: 3em;
}
a.linktoMaps:link,
a.linktoMaps:visited,
a.linktoMaps:hover,
a.linktoMaps:active {
  color: #59543d;
}

/*#############################x*/


/*Visszajelzés*/

.rsvpSection {

  padding: 40px 20% 40px 20%;
  background-color: #CCD2E0;
}

.transparentInputBox {
  opacity: 70%;
  border: 0.5px solid #c0c0c0;
}
.rsvp_title{
  padding: 20px;
}
/*#############################x*/

/*zenekeresSection*/
.zenekeresSection {

  padding: 40px 20% 40px 20%;

}

.transparentInputBox {

  opacity: 70%;
  border: 0.5px solid #c0c0c0;
}

/*#############################x*/
.longInput{
  height: 100px;

}

/*ios support*/
@supports (-webkit-overflow-scrolling: touch) {
  .homeSection {
    height: 80vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
  .heading_Title {
    font-size: 2rem;
  }
}
/*##############x*/
